/* below line is used for online google font */
@import url(http://fonts.googleapis.com/css?family=Raleway);

hr{

border: 0; 
border-top: 1px solid #ccc;
}

span{
color:green;
}

div.container{
	width: 960px;
	height: 610px;
	font-family: 'Raleway', sans-serif;
	margin-left:20px;
}

div.main{
	width: 750px;
	padding: 10px 50px 30px;
	border: 2px solid gray;
	border-radius: 10px;
	font-family: raleway;
	float:left;
}

input[type=text],textarea {
	margin-left:125px;
	width: 60%;
	height: 34px;
	padding-left: 5px;
	border: 2px solid #ccc;
	font-size: 22px;
	border-radius: 5px;
}

textarea{
	resize:none;
	height:80px;

}

label{
	font-size: 22px;
	font-weight: bold;
	margin-left:125px;
	margin-bottom: -25px;
}

.tekstsoobwenija {
	width:500px;
	height:175px;
}

.submit{
	margin-left:125px;
	padding: 10px;
    text-align: center;
    font-size: 18px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 2px solid #e5a900;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0px 1px 0px #13506D;
	width: 60%;
	border-radius: 5px;
}

.submit:hover{
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

.success
{
	border: 2px solid;
	margin: -50px 100px;
	margin-left: 125px;
	padding-top:15px;
	text-align:center;
	font-size: 22px;
    font-weight: bold;
	background-repeat: no-repeat;
	background-position: 10px center;
	position:absolute;
	width:400px;
	height:60px;
	background-color:#fff;
	display: none;
}

.razdelenie
{
padding-bottom: 1px;
background-color: #9b9b9b;
border-bottom:1px solid #F4F4F4;	
}